<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

#stockDiv{
    background-color: #2E2E2E; color: white; height: 100%;
}

#noResultZone{
    padding-left: 10%;
    font-size: 40px;
    padding-top: 2%;
}

#SugZone{
    padding-left: 10%;
    font-size: 20px;
}
    </style>

    <link>
    <meta charset="UTF-8">
    <title>stockList</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<script>
</script>
<body>
{% extends "stockBar.html" %}

{% block content %}
<div id=stockDiv>
    <p id="noResultZone">No result for " {{noneSymbol}} "</p>
    <p id="SugZone">
        <br>
        Suggestions: <br><br>
    ● You have to Enter symbol, not name. Please check your word.<br>
    ● Make sure that all words are spelled correctly.<br>
    ● Try different Symbol.<br>
    ● Try more general keywords.
    </p>
    <p></p>
</div>
{%endblock%}
</body>
</html>