<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #bigDiv{
    color: white; width: 100%; background-color: #0f0f0f;
    }

    #todayIs{
    font-size: 20px; color: darkgray;padding-left: 10%; padding-bottom: 1%;
    }

    #title{
    font-size: 30px;padding-left: 10%;
    color: white; text-decoration: none;
    }

    #logoutBtn{
        float: right; font-size: x-large; margin-right: 10%; margin-top: 1%;
    }

    #logOutAnchor{
        text-decoration: none; color:white
    }
</style>

<body style="height: 100%; background-color:#2E2E2E">

<div id=bigDiv>
    <div style="display: contents">
        <a id="title" href="{% url 'mainPage' %}">Stocks</a>
    </div>

    <div id="logoutBtn">
        <a id="logOutAnchor" href="{% url 'logout'%}">
            <i CLASS="glyphicon glyphicon-off"></i>
        </a>
    </div>

    <div id=todayIs>{{todayIs}}</div>
</div>
{% block content%}
{% endblock %}
</body>
</html>